<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thetatechnolabs.networkinterceptor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".ui.details.DetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_details"
            android:theme="@style/Theme.NetworkInterceptor.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.thetatechnolabs.networkinterceptor.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>